@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Regular.woff2') format('woff2'),
       url('/fonts/MiSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'MiSans', sans-serif;
    overflow-y: scroll;           /* 保留滾動功能，但準備隱藏 scrollbar */
    scrollbar-width: none;        /* Firefox 隱藏 */
    -ms-overflow-style: none;
    overflow-x: hidden;
}

/* Webkit-based browsers (Chrome, Safari) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome/Safari 隱藏 */
}

